.NodeDetails__Background {
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
}

.NodeDetails {
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.NodeDetails p,
h1,
h2,
h3,
h4,
li {
  color: #dbdbdb;
}

.NodeDetails h1,
h2,
h3,
h4,
ul {
  margin-top: 6px;
  margin-bottom: 6px;
}

.NodeDetails h2 {
  font-size: 14pt;
}

.NodeDetails p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.NodeDetails__Pod {
  margin-left: 15px;
}

.NodeDetails__Container {
  margin-left: 10px;
  margin-top: 30px;
}

.NodeDetails__Headline {
  color: white;
}

.NodeDetails__Key {
  color: #ababab;
}

.NodeDetails__CloseButton {
  position: absolute;
  top: 0px;
  left: 450px; /* Left 440px + Width 60px = Details Overlay width 500px */
  height: 20px;
  width: 50px;
}
